{% extends "layout.html" %}
{% block body %}

<!-- html fra neuralTrackerUI_bilder -->

<h1> Neural Network Tracker </h1>
<i id = "MODE"> Read-mode (labels: blue, AI-guess: red) </i>
<br/>
<canvas id="myCanvas" height = "" width=""> </canvas>


<!-- kode som skal importere ett bilde og tegne det på canvaset, MÅ TESTES -->
<script>
      var c = document.getElementById("myCanvas");
      var ctx = c.getContext("2d");

      var img = new Image();
      img.src = // *skriv inn image source*
      ctx.drawImage(img, 0, 0);

</script>


<!-- kode som gjør flask magic -->
<script type="text/javascript">

  $(function() { // 1. kjøres når grunnleggende deler av hjemmesiden er nedlastet
    
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_AI_prediction', { // $.getJSON(url, data, func); url;  sender get request til url-en
        a: 'jsonstrennnnnnn' // data; input fra html siden, her putter du simply inn json strengen, i steden for å hente input fra knappen.

      }, function(data) { // når dataen kommer frem kjøres denne funksjonen
        $('#result').text(data.result); // data.results er selve json strengen fått ifra heavyMaths, kan uthente info ved å indeksere listen data.results
        $('input[name=a]').focus().select();
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form); // 2. $('selector');  velger elementet 'a' fra python koden og gjør den manipulerbar. 
    $('input[type=text]').bind('keydown', function(e) { //3. element.bind('event', func); Når linken klikkes kjøres submit_form funksjonen. 

      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name=a]').focus();
  });
</script>
<h1>jQuery Example</h1>
<p>
  <span id="result">?</span>
<p><a href=# id="calculate">calculate server side</a>
{% endblock %}